// 全局变量
// 颜色
$danger-color: #ff4757;

// 字体
$font-stack: "Helvetica Neue",
sans-serif;
$base-font-size: 16px;

// 间距
$spacing-sm: 8px;
$spacing-md: 16px;

// 响应式断点
$breakpoint-mobile: 768px;


// 颜色变量
$primary-color: #1989fa;
$background-color: #f7f8fa;
$text-color: #323233;
$text-light: #969799;
$border-color: #ebedf0;
$white: #ffffff;
$card-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);

// 尺寸变量
$header-height: 60px;
$bottom-nav-height: 60px;
$brand-item-size: 70px;
$letter-index-size: 16px;